celery==4.2.1
Flask==1.0
marshmallow==2.16.0
numpy==1.16.3
pymongo==3.5.1
redis==2.10.6
regex==2018.01.10
webargs==1.8.1
Werkzeug==0.12.2
Flask-JWT-Extended==3.3.4
Flask-PyMongo==0.5.1
Flask-Redis==0.3.0
gunicorn==20.0.4
jsonschema==3.2.0
flask-sqlalchemy==2.4.1
pymysql==0.9.3
mysqlclient==1.4.6
flask-marshmallow==0.11.0
marshmallow-sqlalchemy==0.22.3
flask-login==0.5.0
